<!DOCTYPE html>
<html>
  <head>
	<title>Railblog</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= csrf_meta_tags %>
  </head>
  <body>

	<div class="container">
	  <div class="row well">
		<ul class="nav nav-tabs">
		  <li <%= if request.path_info == blogs_path then
				 'class=active' else '' end %>
		  ><%= link_to 'HOME', blogs_path %></li>
		  <li <%= if request.path_info == images_path  ||
				  request.path_info =~ /\/images\/\d/ then
				  'class=active' else '' end %>
		  ><%= link_to 'Pictures', images_path %></li>
		  <li <%= if request.path_info == blogs_management_path ||
				  request.path_info =~ /\/blogs\/\d/ then
				 'class=active' else '' end %>
		  ><%= link_to 'Management', blogs_management_path %></li>
		  <li <%= if request.path_info == new_blog_path then
				 'class=active' else '' end %>
		  ><%= link_to '記事を投稿', new_blog_path %></li>
		  <li <%= if request.path_info == new_image_path then
				 'class=active' else '' end %>
		  ><%= link_to '画像を投稿', new_image_path %></li>
		</ul>
		<div class="tab-content">
		  <%= yield %>
		</div>
	  </div>
	</div>

  </body>
</html>
 
