<% type = :details if type.nil? %>
<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
  <div class="panel-heading">
	<h3 class="panel-title">
	  <%= blog.title %>
	</h3>
  </div>
  <div class="words panel-body">
	<%== 
       blog.word.gsub(/[<>&"\r\n]/,
				 "<" => "&lt;", ">" => "&gt;", "&" => "&amp;", '"' => "&quot;", "\n" => "<br />")
	%>
  </div>
  <div class="panel-footer">
	<div class="tag">
	  <% tags = Tag.where(:id => blog.tag_ids).pluck(:name)
	     tags.each do |t| %>
	       <%= link_to t, blogs_path(search: t) %>
	  <% end %>
	</div>
	<div  class="date">
	  <%= blog.dating.strftime("%Y年%m月%d日") %>
	</div>
  </div>
</div>
